.profile_content {
    padding: 200px;
}

.creator {
    font-size: 70px;
    color: black;
}

.creator_details {
    font-size: 40px;
    font-weight: 400;
}

.sponser_text {
    font-size: 50px;
    font-weight: 500;
    margin-top: 100px;
}

.danger_btn {
    height: 60px;
    width: 200px;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    border: none;
    margin: 30px;
    cursor: pointer;
    position: relative;
    left: -30px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vh;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
    left: -50px;
}

.request {
    height: 100px;
    width: 300px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#sent {
    background-color: lime
}

#recieve {
    background-color: orange;
}

@media (max-width:768px) {
    .profile_content {
        padding: 100px;
    }
}

@media (max-width:425px) {
    .profile_content {
        padding-left: 50px;
    }
    .creator_details {
        font-size: 20px;
    }
    .request {
        height: 80px;
        width: 240px;
        font-size: 17px;
    }
}

@media (max-width:320px) {
    .profile_content {
        padding-left: 30px;
    }
    .creator_details {
        font-size: 20px;
    }
    .creator {
        font-size: 50px
    }
    .request {
        height: 80px;
        width: 240px;
        font-size: 17px;
    }
}