/* body {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(214, 218, 36, 1) 0%, rgba(0, 212, 255, 1) 100%);
} */


/* 
width::-webkit-scrollbar {
    width: 20px;
}


/* Track */


/* ::-webkit-scrollbar-track {
    border-radius: 10px;
} */


/* Handle */


/* ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px; */


/* } */